= form_for @student do |f|
  = text_input_with_label f, :name, "Name"
  = text_input_with_label f, :niner_net, "NinerNet ID"
  = text_input_with_label f, :codecademy, "Codecademy Username"
  = text_input_with_label f, :github_username, "GitHub Username"
  = text_input_with_label f, :ch4_repo_name, "Chapter 4 Walkthrough Repository Name"
  .row
    %div{class: "col-md-12"}
      = f.submit @button_text, class: "btn btn-xs btn-primary"