%div{class: "well"}
  %div

    = link_to("import students", students_path(import: "students"))

    |    
    
    = link_to("import codecademy", students_path(import: "cc"))

    |  
    
    = link_to("import github", students_path(import: "github"))

    | 
    
    = link_to("import walkthrough repo", students_path(import: "ch4"))

    | 
    
    = link_to("import tutorial url", students_path(import: "rails"))

    |     
    
    = link_to(" clear student list", students_path(clear: "yes"))  
    
    |
      
    Number of Students:
    = @students.length
- unless @students.empty?


      
  %table{class: "table table-hover"}
    %thead
      %tr
        %th
        %th      
        %th= link_to("Name", students_path(sort_by: "Name")) 
        %th{:width => "275"}
        %th= link_to("Codecademy #{@CodeCadCount}", students_path(sort_by: "codecademy")) 
        %th= link_to("Hartl Tutorial #{@tutorialCount}", students_path(sort_by: "RailsTutorialHeroku"))    
        %th= link_to("GitHub User #{@githubCount}", students_path(sort_by: "github_username"))         
        %th= link_to("NinerNet ID", students_path(sort_by: "niner_net"))
    %tbody
      - @students.each do |student|
        %tr
          %td
            = link_to '<span class="glyphicon glyphicon-cog"></span>'.html_safe, edit_student_path(student), class: "btn btn-xs btn-success"
          %td
            = form_for student, url: student_path(student), html: {method: "delete"} do |f|
              = content_tag :button, type: :submit, class: "btn btn-xs btn-danger", data: {confirm: "Really delete student '#{student.name}'?"} do
                %span{class: "glyphicon glyphicon-remove"}        
          %td= link_to(student.name, edit_student_path(student))
          %td 
          %td
            - if student.codecademy != nil && student.codecademy != ""
              Yes
          %td 
            - if student.RailsTutorialHeroku != nil && student.RailsTutorialHeroku != ""
              Yes
          %td= student.github_username          
          %td= student.niner_net
          