%div{class: "well"}
  %div
    Number of Students:
    = @students.length
- unless @students.empty?
  %table{class: "table table-striped"}
    %thead
      %tr
        %th Name
        %th NinerNet ID
        %th Codecademy Username
        %th GitHub Username
        %th Chapter 4 Walkthrough Repository Name
        %th
        %th
    %tbody
      - @students.each do |student|
        %tr
          %td= student.name
          %td= student.niner_net
          %td= student.codecademy
          %td= student.github_username
          %td= student.ch4_repo_name
          %td
            = link_to '<span class="glyphicon glyphicon-cog"></span>'.html_safe, edit_student_path(student), class: "btn btn-xs btn-success"
          %td
            = form_for student, url: student_path(student), html: {method: "delete"} do |f|
              = content_tag :button, type: :submit, class: "btn btn-xs btn-danger", data: {confirm: "Really delete student '#{student.name}'?"} do
                %span{class: "glyphicon glyphicon-remove"}