!!! 5
%html
  %head
    %title ITCS 3155 Report Generator
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"
    = csrf_meta_tags
  
  %body{role: "document"}
    %div{class: "navbar navbar-inverse navbar-fixed-top", role: "navigation"}
      %div{class: "container"}
        %div{class: "navbar-header"}
          %button{type: "button", class: "navbar-toggle collapsed", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
            %span{class: "sr-only"} Toggle Navigation
            %span{class: "icon-bar"}
            %span{class: "icon-bar"}
            %span{class: "icon-bar"}
          %a{href: new_student_path, class: "navbar-toggle btn-xs collapsed"}
            %span{class: "glyphicon glyphicon-plus"}
            Add Student
          %a{href: root_path, class: "navbar-brand"} REPORT GENERATOR
        %div{class: "navbar-collapse collapse"}
          %ul{class: "nav navbar-nav"}
            %li
              %a{href: root_path} Home
            %li
              %a{href: caps_path(format: :xml), id: "progress-link"}Codecademy Report
            %li
              %a{href: ch4_path} Chapter 4 Walkthrough Report
            %li
              %a{href: gitimmersion_path} Git Immersion Report
            %li
              %a{href: railstutorial_path} Rails Tutorial Report
          %div{class: "navbar-right navbar-form"}
            %a{href: new_student_path, class: "btn btn-default"}
              %span{class: "glyphicon glyphicon-plus"}
              Add Student
    %div{class: "container", role: "main"}
      - if flash[:message]
        %div{class: "alert alert-success", role: "alert"}= flash[:message]
      = yield
